body{
    font-size: 30px;
    text-align: center;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
        li{
            margin-bottom: 10px;
    }
    li button {
        font-size: 20px;
        margin-left: 20px;
        padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
      }
      ul{
          background-color: beige;
      }
    
      input{
          padding: 20px;
          padding-right: 10px;
      }
    button{
         padding: 10px;
          background-color: #e7e7e7 ;
          border-radius: 12px;
          border: 2px solid #4c5baf;
        
         
      }
      .addToDo{
         cursor: pointer;
      }